services:
  api:
    build: .
    container_name: quadlingo-api
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DB_HOST=postgres
      - REDIS_HOST=redis
    volumes:
      - .:/app

  postgres:
    image: postgres:16
    container_name: quadlingo-postgres
    environment:
      POSTGRES_DB: quadlingo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 7983
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: quadlingo-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes

volumes:
  postgres_data: